main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include ipad {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fylo-main {
        background-color: $darkBlue;
        box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
        border-radius: 10px 100px 10px 10px;
        width: 21.8em;
        height: 12.6em;
        opacity: 0;
        animation: appear 0.5s ease 2.9s forwards;
        &__title {
            padding: 2.5em 0em 0em 2.6em;
        }
        &__icon {
            width: 11em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 2em 0em 2.5em 2.6em;
            div {
                background-color: $veryDarkBlue;
                border-radius: 10px;
                width: 3em;
                height: 3em;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transform: scale(1);
                transition: transform 0.2s ease;
                &:hover {
                    transform: scale(1.1);
                    opacity: 0.9;
                }
            }
        }
    }
    .fylo-progress {
        background-color: $darkBlue;
        box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
        border-radius: 10px;
        width: 33.5em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1.9em;
        padding: 2.5em 2.4em 2.5em 2.4em;
        opacity: 0;
        animation: appear 0.5s ease 3.4s forwards;
        @include ipad {
            width: 78%;
            margin-left: 0;
            margin-top: 1em;
        }
        &__bubble {
            background-color: white;
            box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
            border-radius: 10px 10px 0px 10px;
            position: absolute;
            right: 2em;
            margin-top: -11em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transform: scale(1);
            transition: transform 0.2s ease;
            &:hover {
                transform: scale(1.1);
            }
            @include ipad {
                border-radius: 10px;
                right: 6em;
                bottom: -2.5em;
            }
            @include mobile {
                right: 7em;
            }
            &::after {
                content: "";
                position: absolute;
                top: 90%;
                right: 0;
                border-width: 30px 0 0 30px;
                border-style: solid;
                border-color: white transparent;
                @include ipad {
                    display: none;
                }
            }
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.8em 1.6em 0.8em 1.6em;
                span {
                    color: $veryDarkBlue;
                    font-weight: 700;
                }
                span:nth-child(1) {
                    font-size: 2.5em;
                }
                span:nth-child(2) {
                    opacity: 0.5;
                    font-size: 0.7em;
                    margin-left: 0.9em;
                }
            }
        }
        &__bar {
            width: 100%;
            h1 {
                font-weight: 400;
                margin-bottom: 1em;
                span {
                    font-weight: 700;
                }
            }
            &--container {
                background-color: rgba($veryDarkBlue, $alpha: 0.5);
                mix-blend-mode: normal;
                border-radius: 10px;
                width: 100%;
                height: 1.2em;
                display: flex;
                align-items: center;
                padding: 0em 0.2em 0em 0.2em;
                margin-bottom: 0.5em;
                overflow: hidden;
                .gradient {
                    background: linear-gradient(90deg, $gradient 0%, $toGradient 100%);
                    width: 3%;
                    height: 0.85em;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    @include ipad {
                        width: 6%;
                    }
                    .circle {
                        position: absolute;
                        background-color: white;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        z-index: 1;
                        right: 3px;
                    }
                }
            }
            &--title {
                display: flex;
                justify-content: space-between;
                font-size: 0.75em; 
                font-weight: 700;
            }
        }
    }
}