body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
    font-size: 1em;
    color: $paleBlue;
    background-color: $veryDarkBlue;
    background-image: url("../../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    @include mobile {
        background-image: url("../../images/bg-mobile.png");
    }
}

h1 {
    font-size: 1em;
    margin: 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(90deg, $veryDarkBlue 0%, $darkBlue 100%);
    animation: dis 0.3s forwards 2.6s;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        #main-logo {
            width: 6em;
            opacity: 0;
            animation: icon 0.8s ease-in-out 0.5s forwards;
        }
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 2em;
            transform: scale(1.6);
            #first-icon {
                margin-top: -7px;
                opacity: 0;
                animation: icon 0.8s ease-in-out 0.5s forwards;
            }
            #second-icon {
                opacity: 0;
                margin-top: -7px;
                animation: icon 0.8s ease-in-out 0.7s forwards;
            }
            #third-icon {
                opacity: 0;
                margin-top: -3px;
                animation: icon 0.8s ease-in-out 0.9s forwards;
            }
        }
    }
}



