/** Colors **/
/** Primary **/
/** Neutral **/
/** Breakpoint **/
/** Responsive mixins **/
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  font-size: 1em;
  color: hsl(243deg, 100%, 93%);
  background-color: hsl(229deg, 57%, 11%);
  background-image: url("../../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
@media screen and (max-width: 375px) {
  body {
    background-image: url("../../images/bg-mobile.png");
  }
}

h1 {
  font-size: 1em;
  margin: 0;
}

button {
  margin: 0;
  line-height: 0;
  text-decoration: none;
  border: none;
  padding: 0;
}

main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .fylo-main {
  background-color: hsl(228deg, 56%, 26%);
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 100px 10px 10px;
  width: 21.8em;
  height: 12.6em;
}
main .fylo-main__title {
  padding: 2.5em 0em 0em 2.6em;
}
main .fylo-main__icon {
  width: 11em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 0em 2.5em 2.6em;
}
main .fylo-main__icon button {
  background-color: hsl(229deg, 57%, 11%);
  border-radius: 10px;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease;
}
main .fylo-main__icon button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
main .fylo-progress {
  background-color: hsl(228deg, 56%, 26%);
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px;
  width: 33.5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1.9em;
  padding: 2.5em 2.4em 2.5em 2.4em;
}
@media screen and (max-width: 990px) {
  main .fylo-progress {
    width: 78%;
    margin-left: 0;
    margin-top: 1em;
  }
}
main .fylo-progress__bubble {
  background-color: white;
  box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
  border-radius: 10px 10px 0px 10px;
  position: absolute;
  right: 2em;
  margin-top: -11em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 990px) {
  main .fylo-progress__bubble {
    border-radius: 10px;
    right: 6em;
    bottom: -2.5em;
  }
}
main .fylo-progress__bubble::after {
  content: "";
  position: absolute;
  top: 90%;
  right: 0;
  border-width: 30px 0 0 30px;
  border-style: solid;
  border-color: white transparent;
}
@media screen and (max-width: 990px) {
  main .fylo-progress__bubble::after {
    display: none;
  }
}
main .fylo-progress__bubble div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em 1.6em 0.8em 1.6em;
}
main .fylo-progress__bubble div span {
  color: hsl(229deg, 57%, 11%);
  font-weight: 700;
}
main .fylo-progress__bubble div span:nth-child(1) {
  font-size: 2.5em;
}
main .fylo-progress__bubble div span:nth-child(2) {
  opacity: 0.5;
  font-size: 0.7em;
  margin-left: 0.9em;
}
main .fylo-progress__bar {
  width: 100%;
}
main .fylo-progress__bar h1 {
  font-weight: 400;
  margin-bottom: 1em;
}
main .fylo-progress__bar h1 span {
  font-weight: 700;
}
main .fylo-progress__bar--container {
  background-color: rgba(12, 18, 44, 0.5);
  mix-blend-mode: normal;
  border-radius: 10px;
  width: 100%;
  height: 1.2em;
  display: flex;
  align-items: center;
  padding: 0em 0.2em 0em 0.2em;
  margin-bottom: 0.5em;
}
main .fylo-progress__bar--container .gradient {
  background: linear-gradient(90deg, hsl(6deg, 100%, 80%) 0%, hsl(335deg, 100%, 65%) 100%);
  width: 56%;
  height: 0.85em;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
}
main .fylo-progress__bar--container .gradient .circle {
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0.2em;
  z-index: 1;
}
main .fylo-progress__bar--title {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
