/** ntroduction animation **/
@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-100%) rotate(500deg);
    }
}

@keyframes icon {
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
 }

@keyframes dis {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/** component animation **/
@keyframes appear{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
 }