/** Colors **/

/** Primary **/
$gradient: hsl(6, 100%, 80%);
$toGradient: hsl(335, 100%, 65%);

/** Neutral **/
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

/** Breakpoint **/
$breakpoints: ( mobile: 375px, ipad: 990px, desktop: 1440px );      